
<!doctype html>
<html lang="en">
  <head th:replace="fragments/common :: head('Record')" />
  </head>
<body>
  <div th:replace="fragments/common :: symbol" />
  <div th:replace="fragments/common :: menu('record')" />

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"> Record </h1>
      </div>
    </div>
  </section>
  
  <div class="mx-auto my-2" style="width: 80%">

	<form action="" th:action="@{/record/form}" th:object="${record}" method="post">
	    <div class="mb-3">
	      <label for="title" class="form-label">제목</label>
	      <input type="text" class="form-control" th:field="*{title}">
	    </div>
	    <div class="mb-3">
	      <label for="content" class="form-label">내용</label>
	      <textarea class="form-control" th:field="*{content}" rows="3"></textarea>
	    </div>
	
	    <div class="text-end">
	      <a th:href="@{/record/list}" class="btn btn-secondary my-2"> 취소 </a>
	      <button type="submit" class="btn btn-primary">작성</button>
	    </div>
	</form>
  </div>
</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.2/getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>


    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

      
  </body>
</html>
