
<!doctype html>
<html lang="en">
  <head th:replace="fragments/common :: head('Record')" />
  </head>
<body>
  <div th:replace="fragments/common :: symbol" />
  <div th:replace="fragments/common :: menu('record')" />

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"> Record </h1>
        <p>
          <a th:href="@{/record/form}"class="btn btn-primary my-2"> 작성하기 </a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>
  
  <div class="mx-auto my-2" style="width: 80%">
    <div class="text-muted"> 총 건수 : <span th:text="${#lists.size(records)}"></span> </div>
      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">번호</th>
          <th scope="col">제목</th>
          <th scope="col">작성자</th>
          <th scope="col">날짜</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="record : ${records}">
          <th th:text="${record.id}"></th>
          <td><a th:href="@{/record/form(id=${record.id})}" th:text="${record.title}"></a></td>
          <td>관리자</td>
          <td>2022-11-06</td>
        </tr>
      </tbody>
    </table>
    <div class="text-end">
      <button type="button" class="btn btn-primary">쓰기</button>
    </div>
  </div>
</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.2/getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>


    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

      
  </body>
</html>
